.sidebar {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0px;
  background: black;
  width: 20rem;
  height: 100vh;
  color: white;
  overflow-x: hidden;
}

// animations
.side-enter-from, .side-leave-to {
  opacity: 0;
  transform: translateX(20rem);
}

.side-enter-active, .side-leave-active {
  transition: all 0.5s ease;
}
